@{
    ViewData["Title"] = "sali's site";
}

<div class="text-center">
    <img style="border-radius: 50%;" src="@ViewData["user_photo"]" alt="Avatar" width="150" height="150">
    <h3>@ViewData["user_title"]</h3>
    <p style="color:gray">@ViewData["username"]</p>
</div>