@{
    Layout = null;
}

<style>
    body, html {
        height: 95%;
        margin: 0;
    }

    .bg { /* The image used */
        background-image: url("https://i.imgur.com/ZE6sGMT.gif"); /* Full height */
        height: 100%; /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="bg"></div>

<h1 style="text-align:center">En construcción. Dani, te quiero &hearts;</h1>